/* .cls-1 {
  fill: none;
}
.cls-2 {
  opacity: 0.9;
}
.cls-3 {
  clip-path: url(#clip-path);
}
.cls-4 {
  fill: url(#linear-gradient);
}
.cls-5 {
  fill: #210803;
}
.cls-6 {
  fill: #a30000;
}
.cls-7 {
  fill: url(#linear-gradient-2);
}
.cls-12,
.cls-8 {
  fill: #4a4947;
}
.cls-8 {
  opacity: 0.27;
  isolation: isolate;
}
.cls-9 {
  fill: url(#linear-gradient-3);
}
.cls-10 {
  fill: #fcc753;
}
.cls-11 {
  fill: #7e421d;
} */
